@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.column {
  width: 334px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include media-rules(tablet) {
  }
}

//DARK

.columnDark {
  background-color: $background-dark;
}

//LIGHT

.columnLight {
  background-color: #fff;
}

//VIOLET

.columnViolet {
  background-color: #fff;
}
