@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.column {
  width: 334px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  @include media-rules(tablet) {
  }
}
