@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.needHelp {
  border-radius: 8px;
  max-width: 197px;
  padding: 15px 14px;
  margin: 0 14px;
  height: 238px;

  .img {
    margin-bottom: 14px;
  }

  .infoText {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
    width: 168px;
    height: 80px;
  }

  .button {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .button:hover,
  .button:focus {
    transform: scale(1.05);
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: transparent;
  }

  @include media-rules(tablet) {
    height: 272px;
    padding: 20px;
    margin: 0 24px;
    max-width: 212px;

    .infoText {
      font-size: 14px;
      line-height: 143%;
      width: 172px;
      height: 102px;
    }
  }

  @include media-rules(desktop) {
  }
}

.needHelpDark {
  background-color: #1f1f1f;
  color: #fff;

  .specText {
    color: #bedbb0;
  }

  .button {
    color: #fff;
  }

  .icon {
    stroke: #fff;
  }
}

.needHelpLight {
  background: #f6f6f7;
  .specText {
    color: #bedbb0;
  }

  .icon {
    stroke: #161616;
  }
}

.needHelpViolet {
  background: rgba(236, 237, 253, 0.4);

  .specText {
    color: #5255bc;
  }

  .button {
    color: #fff;
  }

  .icon {
    stroke: #fff;
  }
}
