@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.needHelp {
  border-radius: 8px;
  max-width: 212px;
  background: #1f1f1f;
  padding: 20px;
}

.img {
  margin-bottom: 14px;
}

.infoText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 18px;
}
.specText {
  color: #bedbb0;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #fff;
}
