.sidebar_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 70px;
  gap: 8px;
}

.logo-ico_con {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-ico {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
