@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.filterModal {
  position: absolute;
  right: 4%;
  top: 4%;
  border-radius: 8px;
  padding: 24px;
  width: 300px;
  height: 234px;
  z-index: 1001;

  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
}

.mobile {
  width: 294px;
  right: 2%;
  top: 2%;
}

.filtersTitle {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  position: relative;
}

.filterModalDark {
  background-color: $sidebar-background-dark;
  color: $text-dark;

  .filtersTitle {
    color: $text-dark;
  }

  .hr {
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 1px;
  }

  .filtersTitle::after {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.filterModalLight {
  background-color: $sidebar-background-light;
  color: $text-light;

  .filtersTitle {
    color: $text-light;
  }
  .hr {
    border-color: rgba(22, 22, 22, 0.1);
  }

  .filtersTitle::after {
    border: 1px solid rgba(22, 22, 22, 0.1);
  }
}

.filterModalViolet {
  background-color: $sidebar-background-light;
  color: $text-violet;
  .filtersTitle {
    color: $text-violet;
  }
  .hr {
    border-color: rgba(22, 22, 22, 0.1);
  }

  .filtersTitle::after {
    border: 1px solid rgba(22, 22, 22, 0.1);
  }
}

.filtersTitle::after {
  content: '';
  position: absolute;
  top: 41px;
  display: block;
  width: 100%;
  height: 1px;
}
