@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 40px;
}

.textDeadline {
  font-size: 10px;
}

.openTheme {
  position: relative;
  margin-right: 14px;
  cursor: pointer;
}

.openThemeSpan {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: inherit;
  opacity: 0.8;
  user-select: none;
  transition:
    transform 250ms ease-in-out,
    color 250ms ease-in-out;
}

.arrowIcon {
  transition:
    transform 250ms ease-in-out,
    stroke 250ms ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

// DARK THEME
.openThemeSpanDark {
  color: $text-dark;
  > svg {
    stroke: $text-dark;
  }
  &:hover,
  &:hover > svg {
    color: $text-hover-dark;
    stroke: $text-hover-dark;
  }
}
.textDeadlineDark {
  color: $text-secondary-dark;
}

// LIGHT THEME
.openThemeSpanLight {
  color: $text-light;
  > svg {
    stroke: $text-light;
  }
  &:hover,
  &:hover > svg {
    color: $text-hover-light;
    stroke: $text-hover-light;
  }
}
.textDeadlineLight {
  color: $text-secondary-light;
}
//VIOLET THEME

.openThemeSpanViolet {
  color: $text-violet;
  > svg {
    stroke: $text-violet;
  }
  &:hover,
  &:hover > svg {
    color: $text-hover-violet;
    stroke: $text-hover-violet;
  }
}
.textDeadlineViolet {
  color: $text-secondary-violet;
}
