@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1002;
}

.backdropDark {
  background-color: rgba(21, 21, 21, 0.5);
}
.backdropLight {
  background-color: rgba(21, 21, 21, 0.3);
}
.backdropViolet {
  background-color: rgba(21, 21, 21, 0.3);
}

.visuallyHidden {
  @include visually-hidden;
}

//dark   background-color: rgba(0, 0, 0, 0.22);
//light  background-color: rgba(255, 255, 255, 0.5);
