@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  //background: linear-gradient(180.00deg, rgba(196, 196, 196, 0) 25%, rgb(190, 219, 176) 92.19%);
  user-select: none;

  @include media-rules(tablet) {
    width: 473px;
  }
}

.userImg {
  width: 124px;
  height: 124px;
  margin-bottom: 15px;
  background-image: url('../../assets/login/loginX1.png');
  background-size: cover;
  transition: background-image 0.3s ease;

  @include media-rules(tablet) {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
    background-image: url('../../assets/login/loginX2.png');
    background-size: cover;
  }
}

.linksWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;

  min-width: 280px;
  margin: 0 auto;
}

.register,
.login {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  // padding: 14px 131px 14px 130px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: $header-background-dark;
  border-radius: 8px;
  color: $sidebar-background-light;
  cursor: pointer;
  text-transform: none;
  // min-width: 290px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;

  @include media-rules(tablet) {
    max-width: 344px;
  }
}

.login {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  // padding: 14px 131px 14px 130px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: transparent;
  border-radius: 8px;
  color: $header-background-dark;
  cursor: pointer;
  text-transform: none;
  // min-width: 290px;
  // max-width: 335px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;

  @include media-rules(tablet) {
    max-width: 344px;
  }
}

.registerOnLoginHover {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  // padding: 14px 131px 14px 130px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: none;
  background: transparent;
  color: $header-background-dark;
  // max-width: 335px;
  // min-width: 290px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;

  @include media-rules(tablet) {
    max-width: 344px;
  }
}

.login:hover {
  background: $header-background-dark;
  color: $sidebar-background-light;
  min-width: 280px;

  @include media-rules(tablet) {
    max-width: 344px;
  }
}

.logoWrap {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;

  @include media-rules(desktop) {
    margin-bottom: 22px;
  }
}

.icon {
  fill: $sidebar-background-light;
  stroke: $sidebar-background-light;
  width: 15px;
  height: 20px;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: $header-background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 600;
  font-size: 28px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 48px;
  width: 100%;
  max-width: 473px;
}

.login,
.register,
.googleAuth {
  transition:
    background-color 0.25s,
    color 1.4s;
}

//googleBTN

.googleAuth {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding-top: 14px;
  padding-bottom: 14px;

  border-radius: 8px;
  color: $text-light;
  cursor: pointer;
  text-transform: none;

  width: 100%;
  max-width: 335px;
  margin: 0 auto;

  @include media-rules(tablet) {
    max-width: 344px;
  }
}

.googleAuth:hover {
  background: $header-background-dark;
  color: $sidebar-background-light;
}

.googleAuth:hover .register {
  background: transparent;
}
