@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.addColumnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 334px;
  gap: 8px;
  opacity: 0.4;

  cursor: pointer;
  height: 56px;
  border-radius: 8px;

  user-select: none;
  @include media-rules(tablet) {
  }
}

.margin {
  margin-top: 14px;
}

.addSpan {
  width: 28px;
  height: 28px;
  opacity: 0.5;
  border-radius: 6px;
}

.text {
  width: 124px;
  height: 14px;
  opacity: 0.1;
  border-radius: 2px;
}

//DARK

.addColumnButtonDark {
  background-color: #121212;
  opacity: 1;

  .addSpan,
  .text {
    background-color: $text-dark;
  }
}

.addCardButtonDark {
  opacity: 1;
  background-color: #85997b;

  .iconAddColumn {
    stroke: $text-dark;
  }

  .addSpan,
  .text {
    background-color: $text-light;
  }
}

//LIGHT

.addColumnButtonLight {
  background-color: $background-light;
  opacity: 1;
  .iconAddColumn {
    stroke: $text-dark;
  }

  .addSpan,
  .text {
    background-color: $text-light;
  }
}

.addCardButtonLight {
  background-color: #92a987;
  opacity: 1;
  .iconAddColumn {
    stroke: $text-dark;
  }

  .addSpan,
  .text {
    background-color: $text-light;
  }
}

//VIOLET

.addColumnButtonViolet {
  opacity: 1;
  background-color: #fff;
  color: $text-light;

  .iconAddColumn {
    stroke: $button-dark;
  }

  .addSpan,
  .text {
    background-color: $text-violet;
  }
}

.addCardButtonViolet {
  opacity: 1;
  background-color: #7b7ede;

  .iconAddColumn {
    stroke: $text-light;
  }

  .addSpan,
  .text {
    background-color: $text-dark;
  }
}
