//Main background colors
$background-violet: #d6d8ff;
$background-light: #fdfdfd;
$background-dark: #1f1f1f;

//sidebar background colors
$sidebar-background-violet: #5255bc;
$sidebar-background-light: #fff;
$sidebar-background-dark: #121212;

//secondary colors (header)
$sidebar-background-violet: #fff;
$sidebar-background-light: #fcfcfc;
$sidebar-background-dark: #161616;

// Lables
$lable-green: #bedbb0;
$lable-pink: #e09cb5;
$lable-purple: #8fa1d0;
$lable-grey: rgba(255, 255, 255, 0.3);

//Buttons
$button-dark: #bedbb0;
$button-hover-dark: #9dc888;
$button-light: #bedbb0;
$button-hover-light: #9dc888;
$button-violet: #5255bc;
$button-hover-violet: #7b7ede;
$button-violet-small: #b8bcfd;
$button-hover-violet-small: #979cea;

//border-colors
$border-dark: #bedbb0;
$border-light: #bedbb0;
$border-violet: #5255bc;
