@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';
@import 'modern-normalize/modern-normalize.css';
@import 'src/styles/fonts.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  &:focus {
    outline: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

[hidden] {
  display: none;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  border: none;
  outline: none; /* Remove outline */
}
