@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.card {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  user-select: none;

  width: 334px;
  min-height: 154px;

  border-radius: 8px;
  padding: 14px 24px;
  .cardDescription {
    @include twoLineText();
  }
  // @include appear-animation(300ms);
  transition: box-shadow 300ms ease;
}

.cardTitle {
  font-weight: 600;
  font-size: 14px;
}

.cardDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  padding-top: 8px;
}

.hr {
  width: 100%;
  border-width: 0.5px;
  margin: 0;
  padding: 0;
}
.priorityBlock {
  display: flex;
  justify-content: space-between;
}

.absoluteSpan {
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
}

.cardTitle,
.cardDescription,
.hr {
  transition: color 1000ms ease-in-out;
}

//DARK

.cardDark {
  background-color: #121212;

  .cardTitle {
    color: $text-dark;
  }

  .cardDescription {
    color: $text-secondary-dark;
  }

  .hr {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
//dragging
.cardDraggingDark {
  background-color: #121212;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.6),
    0 6px 20px rgba(0, 0, 0, 0.46);
  .cardTitle {
    color: $button-hover-dark;
  }

  .cardDescription {
    color: $button-dark;
  }

  .hr {
    border-color: $button-dark;
  }
}

//LIGHT

.cardLight {
  background-color: #fff;

  .cardTitle {
    color: $text-light;
  }
  .cardDescription {
    color: $text-secondary-light;
  }
  .hr {
    border-color: rgba(22, 22, 22, 0.1);
    border-width: 1px;
  }
}
//dragging
.cardDraggingLight {
  background-color: #fff;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.23);
  .cardTitle {
    color: $button-hover-light;
  }
  .cardDescription {
    color: $button-light;
  }
  .hr {
    border-color: $button-light;
    border-width: 1px;
  }
}

//VIOLET

.cardViolet {
  background-color: #fff;

  .cardTitle {
    color: $text-violet;
  }
  .cardDescription {
    color: $text-secondary-violet;
  }

  .hr {
    border-color: rgba(22, 22, 22, 0.1);
    border-width: 1px;
  }
}

//dragging
.cardDraggingViolet {
  background-color: #fff;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.23);
  .cardTitle {
    color: $button-violet;
  }
  .cardDescription {
    color: $button-hover-violet;
  }

  .hr {
    border-color: $button-hover-violet;
    border-width: 1px;
  }
}
