@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.card {
  width: 334px;
  display: flex;

  flex-direction: column;

  @include media-rules(tablet) {
  }
}

//DARK

.cardDark {
  background-color: $background-dark;
}

//LIGHT

.cardLight {
  background-color: #fff;
}

//VIOLET

.cardViolet {
  background-color: #fff;
}
