@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px
}

.inputContainer {
    position: relative;
    height: 49px;   
}

.input{
    border: 1px solid #bedbb0;
    border-radius: 8px;
    width: 287px;
    height: 49px;
    background: #1f1f1f;
    color: #fff;
    padding: 0 18px;
    box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
    opacity: 0.4;

    @include media-rules(tablet) {
            width: 344px;
    }
    
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.button {
    border: none;
    border-radius: 8px;
    width: 287px;
    height: 49px;
    background: #bedbb0;
    color: #161616;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 24px;
    
    @include media-rules(tablet) {
            width: 344px;
        }
}

.button:hover {
    background: #9dc888;
}

.iconContainer {
    position: absolute;
    top: 60%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon {
    color: rgba(255, 255, 255, 0.3);
    width: 18px;
    height: 18px;
}

.input:hover,
.input:focus {
    box-shadow: 0 0 10px rgba(157, 200, 136, 0.5);
}

.input:active {
    border: 4px solid #bedbb0;
    color: #fff;
    box-shadow: 0 0 10px rgba(157, 200, 136, 0.5);
    background: #1f1f1f;
}

.error {
    color: #ff4e4e;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;    
}
