@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.wrapper {
  overflow: hidden;
}

.mainScreen {
  padding-left: 20px;
  padding-right: 10px;
  min-height: calc(100dvh - 60px);

  transition: transform 300ms ease-in-out;
  @include media-rules(tablet) {
    min-height: calc(100dvh - 68px);
    padding-left: 32px;
  }
  @include media-rules(desktop) {
    width: calc(100dvw - 260px);
    margin-left: auto;
    padding-left: 24px;
  }
}

.mainScreenSidebarOpen {
  transform: translateX(225px);
  transition: transform 300ms ease-in-out;
  @include media-rules(tablet) {
    transform: translateX(260px);
  }
}

.mainScreenHead {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 24px 40px 0;
  @include media-rules(tablet) {
    padding: 20px 24px 26px 0;
  }
  @include media-rules(desktop) {
    padding-bottom: 10px;
  }
}

.boardTitle {
  font-size: 14px;
  font-weight: 500px;
  user-select: none;

  @include media-rules(tablet) {
    font-size: 18px;
  }
}

.mainContent {
  display: flex;
  overflow-x: auto;
  min-height: calc(100dvh - 160px);
  gap: 12px;
  padding-bottom: 12px;

  @include media-rules(tablet) {
    min-height: calc(100dvh - 168px);
    gap: 34px;
  }
}

.filters {
  cursor: pointer;
  user-select: none;
}

//DARK
.mainScreenDark {
  background-color: $background-dark;
  color: $text-dark;

  .filters {
    color: $text-secondary-dark;
  }

  .mainContent {
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;

      opacity: 0.8;
    }

    &::-webkit-scrollbar-track {
      background-color: #161616;
      border-radius: 12px;
    }
  }
}

//LIGHT
.mainScreenLight {
  background-color: $background-light;
  color: $text-light;

  .filters {
    color: $text-secondary-light;
  }

  .mainContent {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e8e8e8;
      border-radius: 12px;
      opacity: 0.8;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
  }
}

//LIGHT
.mainScreenViolet {
  background-color: $background-violet;
  color: $text-violet;
  .filters {
    color: $text-secondary-violet;
  }

  .mainContent {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b8bcfd;
      border-radius: 12px;
      opacity: 0.8;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
  }
}
