@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.mainScreen {
  padding: 0 20px;
  min-height: calc(100dvh - 60px);
  @include media-rules(tablet) {
    min-height: calc(100dvh - 68px);
    padding: 0 32px;
  }
  @include media-rules(desktop) {
    width: calc(100dvw - 260px);
    margin-left: auto;
    padding: 0 24px;
  }
}

.mainScreenHead {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 40px;
  @include media-rules(tablet) {
    padding-top: 20px;
    padding-bottom: 26px;
  }
  @include media-rules(desktop) {
    padding-bottom: 10px;
    padding-bottom: 10px;
  }
}

.boardTitle {
  font-size: 14px;
  font-weight: 500px;
  user-select: none;

  @include media-rules(tablet) {
    font-size: 18px;
  }
}

.mainContent {
  display: flex;
  overflow-x: auto;
  min-height: calc(100dvh - 160px);
  gap: 12px;

  @include media-rules(tablet) {
    min-height: calc(100dvh - 168px);
    gap: 34px;
  }
}

.filters {
  cursor: pointer;
  user-select: none;
}

//DARK
.mainScreenDark {
  background-color: $background-dark;
  color: $text-dark;

  .filters {
    color: $text-secondary-dark;
  }
}

//LIGHT
.mainScreenLight {
  background-color: $background-light;
  color: $text-light;

  .filters {
    color: $text-secondary-light;
  }
}

//LIGHT
.mainScreenViolet {
  background-color: $background-violet;
  color: $text-violet;
  .filters {
    color: $text-secondary-violet;
  }
}
