.sidebar_board-item {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar_boart-cont {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  gap: 4px;
}

.sidebar_board-item-ico {
  stroke: #fff;
}

.sidebar_board-edit-ico {
  stroke: #fff;
}

.sidebar_board-remove-ico {
  stroke: #fff;
}

.sidebar_board-title {
}

.sidebar_board-edit-btn {
  cursor: pointer;
}

.sidebar_board-remove-btn {
  cursor: pointer;
}
