@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.columnList {
  display: flex;
  gap: 12px;

  max-height: calc(100dvh - 160px);

  @include media-rules(tablet) {
    max-height: calc(100dvh - 168px);
    gap: 34px;
  }
}

//DARK

.columnListDark {
  background-color: $background-dark;
}

//LIGHT

.columnListLight {
  background-color: #fff;
}

//VIOLET

.columnListViolet {
  background-color: #fff;
}
