.submitNewColumnBtn {
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background-color: #bedbb0;
}

.iconsInputWrapper {
  margin-bottom: 24px;
}

.formSubtitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 14px;
}

.backgroundsInputWrapper {
  margin-bottom: 40px;
}
