@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.iconsInputWrapper {
  margin-bottom: 24px;
}

.formSubtitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.backgroundsInputWrapper {
  margin-bottom: 40px;
}

.formSubtitleDark {
  color: #ffffff;
}

.formSubtitleLight {
  color: #161616;
}

.formSubtitleViolet {
  color: #161616;
}
