@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.logout {
  background-color: inherit;
  margin: 24px;

  .button {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .icon {
    stroke: #bedbb0;
    fill: transparent;
    width: 32px;
    height: 32px;
    margin-right: 14px;
  }
  .text {
    color: #fff;
  }
}

.logoutDark {
  .icon {
    stroke: #bedbb0;
  }

  .text {
    color: #fff;
  }
}

.logoutLight {
  .text {
    color: #161616;
  }
  .icon {
    stroke: #bedbb0;
  }
}

.logoutViolet {
  .text {
    color: #fff;
  }
  .icon {
    stroke: #fff;
  }
}
