@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

// modal width
$mobile-width: 335px;
$tablet-width: 350px;

// input and button
$mobile-input-button: 287px;
$tablet-input-button: 302px;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
  user-select: none;
}

.modalDark {
  background-color: rgba(21, 21, 21, 0.5);
}
.modalLight {
  background-color: rgba(21, 21, 21, 0.3);
}
.modalViolet {
  background-color: rgba(21, 21, 21, 0.3);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $mobile-width;
  min-height: 221px;
  padding: 24px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;

  @include media-rules(tablet) {
    width: $tablet-width;
  }
}

.titleContainer {
  display: flex;
}

.mainTitle {
  font-size: 18px;
  color: $text-light;
  font-weight: 500;
}

.form {
  position: relative;
}

.title {
  margin-top: 24px;
}

.forTitle {
  width: $mobile-input-button;
  border: 1px solid $button-light;
  border-radius: 8px;
  height: 49px;
  color: black;
  background-color: white;
  opacity: 0.4;
  padding: 0 18px;
  @include media-rules(tablet) {
    width: $tablet-input-button;
  }
}

.forTitle:focus {
  outline: 1px solid #bedbb0;
}

.closeButton {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.blackBox {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.addButton {
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  width: $mobile-input-button;
  height: 49px;
  background: $button-light;
  color: $text-light;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-rules(tablet) {
    width: $tablet-input-button;
  }
}

.addButton:hover {
  background: $button-hover-dark;
}

.icon {
  width: 14px;
  height: 14px;
  margin-top: 7px;
}

.closeIcon {
  width: 18px;
  height: 18px;
  stroke: rgb(255, 255, 255);
}

.plusIcon {
  stroke: rgb(255, 255, 255);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
}

// THEME

.dark {
  background: #151515;
}

.light {
  background-color: $background-light;
}

.violet {
  background-color: $background-light;
}

.titleDark {
  color: $text-dark;
}

.lightCloseButton {
  stroke: rgb(0, 0, 0);
}

.violetCloseButton {
  stroke: rgb(0, 0, 0);
}

.darkInput {
  background-color: #151515;
  color: white;
}

.addButtonViolet {
  background-color: $button-violet;
}

.addButtonViolet:hover {
  background-color: $button-hover-violet;
}

.addTextButton {
  color: $text-dark;
}

.blackBoxViolet {
  background-color: $background-light;
}

.plusIconViolet {
  stroke: $button-violet;
}
// THEME
