@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.sidebar_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  user-select: none;
}

.sidebar_container {
  user-select: none;
  height: 100vh;
  width: 225px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;

  @include media-rules(tablet) {
    width: 260px;
  }
}

.sidebar_hidden {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar_open {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//Dark

.sidebar_containerDark {
  background-color: $sidebar-background-dark;
  color: $text-dark;
}

//Light

.sidebar_containerLight {
  background-color: $sidebar-background-light;
  color: $text-light;
}

//Violet

.sidebar_containerViolet {
  background-color: $sidebar-background-violet;
  color: $text-dark;
}
