@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.wrapper {
  overflow: hidden;
}

.mainScreen {
  padding-left: 20px;
  padding-right: 10px;
  min-height: calc(100dvh - 60px);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include media-rules(tablet) {
    min-height: calc(100dvh - 68px);
    padding-left: 32px;
  }
  @include media-rules(desktop) {
    width: calc(100dvw - 260px);
    margin-left: auto;
    padding-left: 24px;
  }
}

.mainScreenSidebarOpen {
  transform: translateX(225px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include media-rules(tablet) {
    transform: translateX(260px);
  }
}

.mainScreenHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;

  padding: 10px 24px 40px 0;
  @include media-rules(tablet) {
    padding: 20px 24px 26px 0;
    height: 77px;
  }
  @include media-rules(desktop) {
    height: 65px;
    padding: 16px 24px 26px 0;
    padding-bottom: 10px;
  }

  .headTitle {
    width: 120px;
    height: 33px;
    padding-bottom: 10px;
    border-radius: 10px;
    backdrop-filter: blur(2%);

    @include media-rules(tablet) {
      width: 144px;
      height: 39px;
    }
  }

  .headFilter {
    width: 88.5px;
    height: 33px;
    border-radius: 10px;
    backdrop-filter: blur(2%);
  }
}

.mainContent {
  display: flex;
  overflow-x: auto;
  min-height: calc(100dvh - 160px);
  gap: 12px;
  padding-bottom: 12px;

  @include media-rules(tablet) {
    min-height: calc(100dvh - 168px);
    gap: 34px;
  }
}

//DARK
.mainScreenDark {
  background-color: $background-dark;

  .headTitle,
  .headFilter {
    background-color: rgba(23, 23, 23, 0.1);
  }

  .mainContent {
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;

      opacity: 0.8;
    }

    &::-webkit-scrollbar-track {
      background-color: #161616;
      border-radius: 12px;
    }
  }
}

//LIGHT
.mainScreenLight {
  background-color: $background-light;

  .headTitle,
  .headFilter {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .mainContent {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e8e8e8;
      border-radius: 12px;
      opacity: 0.8;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 12px;
    }
  }
}

//LIGHT
.mainScreenViolet {
  background-color: $background-violet;

  .headTitle,
  .headFilter {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .mainContent {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b8bcfd;
      border-radius: 12px;
      opacity: 0.8;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 12px;
    }
  }
}
