@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.backgoundsList {
  display: flex;
  flex-wrap: wrap;
  width: 252px;
  gap: 4px;
}

.label {
  display: block;
}

.backgroundsIcon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backgroundItemImg {
  border-radius: 6px;
}

.backgroundsIcon + img {
  cursor: pointer;
}

.backgroundsIconDark:checked + img {
  outline: 2px solid #bedbb0;
}

.backgroundsIconLight:checked + img {
  outline: 2px solid #bedbb0;
}

.backgroundsIconViolet:checked + img {
  outline: 2px solid #5255bc;
}
