@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.cardList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  height: 100%;
  max-height: 90%;
  @include media-rules(tablet) {
    gap: 34px;
  }

  @include media-rules(desctop) {
  }
}

//DARK

.cardListDark {
  background-color: $background-dark;
}

//LIGHT

.cardListLight {
  background-color: #fff;
}

//VIOLET

.cardListViolet {
  background-color: #fff;
}
