@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.error {
  color: #ff4e4e;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.lableColor {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.filterForm {
  display: flex;
  gap: 8px;
}

.colorFilterRadioLable {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterOptions {
  margin-top: 24px;
}

.priorityText {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.colorFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.comment {
  position: relative;
}

.forTitle {
  border-radius: 8px;
  width: 100%;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  border: 1px solid $button-light;
  color: #161616;
  opacity: 0.4;
  padding: 18px 14px;
  outline: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 1;
  }
}

.forTitleDark {
  background: #1f1f1f;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

.forTitleViolet {
  border: 1px solid $border-violet;
}

.forDescription {
  width: 287px;
  height: 154px;
  padding: 18px;
  border: 1px solid $button-light;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  border-radius: 8px;
  color: #161616;
  opacity: 0.4;
  margin-top: 14px;
  overflow: hidden;
  resize: none;
  outline: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 1;
  }
}

.forDescriptionDark {
  background: #1f1f1f;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

.forDescriptionViolet {
  border: 1px solid $border-violet;
}

.active {
  opacity: 1;
}

.forComment:focus {
  outline: 1px solid #bedbb0;
}

.colorFilterWithoutPriority {
  border: 1px solid rgba(22, 22, 22, 0.3);
}

.colorFilterMediumPriority {
  border: 1px solid #e09cb5;
}

.colorFilterLowPriority {
  border: 1px solid #8fa1d0;
}

.colorFilterHighPriority {
  border: 1px solid #bedbb0;
}

.colorFilterCenter {
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%;
}

.colorFilterCenterWithoutPriority {
  background-color: rgba(22, 22, 22, 0.3);
  width: 15px;
}

.colorFilterCenterMediumPriority {
  background-color: #e09cb5;
}

.colorFilterCenterLowPriority {
  background-color: #8fa1d0;
}

.colorFilterCenterHighPriority {
  background-color: #bedbb0;
}

.radioIcon:checked ~ .colorFilter .colorFilterCenter {
  width: 8px;
  height: 8px;
}

.radioIcon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
