.container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 500px;
  height: 500px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 34px;
}